#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "ofbiz"
name = "OFBiz"
description.en = "Apache-OFBiz ERP"

version = "18.12.07~ynh2"

maintainers = ["JulienNICOLAS"]

[upstream]
license = "Apache-2.0"
website = "https://ofbiz.apache.org"
userdoc = "https://cwiki.apache.org/confluence/display/OFBIZ/Documentation"
code = "https://github.com/apache/ofbiz-framework"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

[resources]
    [resources.sources.main]
    url = "https://dlcdn.apache.org/ofbiz/apache-ofbiz-18.12.12.zip"
    sha256 = "8fece2b0febf54764f707c61c3ec601e7521c6d3cf85d9f414b9ff07d18e9a50"

    autoupdate.strategy = "latest_github_tag"
    autoupdate.version_regex = "^release(.*)$"

    [resources.system_user]

    [resources.install_dir]

    [resources.ports]

    [resources.permissions]
    main.url = "/"
    main.allowed = "admins"

    [resources.apt]
    packages = ["openjdk-11-jdk", "postgresql"]

    [resources.database]
    type = "postgresql"
